
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caixin1:before { content: "\e619"; }

.icon-msnui-xiaoxi:before { content: "\e77b"; }

.icon-duanxin:before { content: "\e61a"; }

.icon-jiantoushang:before { content: "\e65d"; }

.icon-lianxiren:before { content: "\e61d"; }

.icon-tupian:before { content: "\e646"; }

.icon-duanxin1:before { content: "\e694"; }

.icon-duanxin2:before { content: "\e61c"; }

.icon-caixin:before { content: "\e61b"; }

